body{
   // background: yellow;
}

.highlight{
background-color:yellow;
}

mark{
    background: yellow;
    padding: 0;
}

.link{
    color: green;
}

.possibilities{
    width: 15%;
    float:right;
}

.change_article{
    width: 80%;
    float:left;
}

.result.change{
    clear: both
}

.stoplist h4 span{
    color: green;
    margin: 5px;
}

button#back, button#go-back {
    float: right;
    margin-right: 10px;
}

.result {
    width: 80%;
    margin: 10px;
    border-bottom: darkblue dashed 1px;
}