{%extends 'search/base.html' %}
{%block title%}Articles{%endblock%}

{% block body %}
<button id="go-back" class="btn btn-warning">Back</button>
{% if all_articles %}
<h3>All Articles</h3>
    {% for article in all_articles %}
    <div class="result">
        <h4><a href="{{article.get_url}}">{{article.get_title }}</a></h4>
        <p>
            <div class="link">{{article.get_url}}</div>
            <div class="summary">{{article.get_summary }}...</div>
        </p>
    </div>
    {% endfor %}
{% else %}
    <h3>{{error_msg}}</h3>
{% endif %}

{% endblock %}
