<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{%block title%}Search Engine{%endblock%}</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{%static 'search/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <script src="{%static 'search/js/jquery.min.js' %}"></script>
    <script src="{%static 'search/js/bootstrap.min.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'search/css/style.css' %}">
    <script src="{%static 'search/js/script.js' %}"></script>
    {% block scripts%}
    {%endblock%}
</head>
<body>
<div id="background"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'search:index'%}">Search Articles</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'search:index'%}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{%url 'search:articles'%}">Articles</a></li>
        <li><a href="{%url 'search:advance-search'%}">Advance</a></li>
        <li><a href="{%url 'search:help'%}">Help</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'search:manage'%}">Manage</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block body %}
{% endblock %}
</body>
</html>