{%extends 'search/base.html' %}
{%block title%}Help{%endblock%}

{% block body %}
    <button id="go-back" class="btn btn-warning go-back rtl">Back</button>
    <div class="help_wrapper">

        <h2>Help</h2>
        <article>
            <h3>חיפוש רגיל</h3>
            <p>
            <ul>
                <li>
                    במקרה והינך מחליט להשתמש בחיפוש הרגיל - כל המילים הכתובות יחופשו באותו האופן, לפי השיטה  שנבחרה.
                </li>
              <li>
                    הכתיבה תתבצע בצורה הרגילה (משפט עם רווחים), בתוספת בחירת השיטה. ברירת המחדל היא שיטת or.
                </li>
                <ul>
                    <li>שיטת Or - כל מאמר המכיל לפחות את אחת המילים שנכתבו</li>
                    <li>שיטות and- כל מאמר המכיל בדיוק את כל המילים שנכתבו</li>
                    <li>שיטת easy-and- כל מאמר הכיל לפחות 60% מהמילים שנכתבו.</li>
                    <li>שיטת not - מאמרים שאינם מכילים אף אחת מהמילים שנכתבו.</li>
                </ul>
              
            </ul>
            </p>
        </article>
        <article>
            <h3>חיפוש מתקדם</h3>
            <p>
            <ul>
                <li>
בחיפוש מתקדם, החיפוש יעשה על ידי שימוש באופרטורים ולא על ידי רווחים.
                </li>
            <ul>שיטות החיפוש
                <li>שיטת or - תסומן על ידי התווים ||</li>
                <li>שיטת and - תסומן על ידי התווים &&</li>
                <li>שיטת easy-and- תסומן על ידי התו &</li>
                <li>שיטת not - תסומן על ידי התווים ( )^, או [ ]^ כאשר הביטוי בתוך סוגריים. לדוגמה, (and)^</li>
            </ul>
            <li>ניתן ללחוץ על כפתורי השיטות כדי להוסיף את התו המבוקש לסוף שורת החיפוש.</li>
            <li>
            במקרה והוכנסו מספר שיטות בסוגריים או ללא סוגריים, תלקח רק השיטה הראשונה שנרשמה.
            </li>
            <li>
                ניתן לכתוב סוגריים בתוך סוגריים, בתנאי שיהיה רק עוד זוג אחד של סוגריים בתוך הסוגריים. הסוגריים החיצוניים תמיד יהיו מהסוג -() והפנימיים מהסוג - [].

            </li>
            </ul>

            </p>
        </article>
    </div>
{% endblock %}
