{%extends 'search/base.html' %}
{%block title%}Help{%endblock%}

{% block body %}
    <button id="go-back" class="btn btn-warning go-back rtl">Back</button>
    <div class="help_wrapper">

        <h2>Help</h2>
        <article>
            <h3>חיפוש רגיל</h3>
            <p>
            <ul>
                <li>
                    במקרה והינך מחליט להשתמש בחיפוש הרגיל - כל המילים הכתובות יחופשו באותו האופן, לפי השיטה  שנבחרה.
                </li>
                <li>
                    אם ברצונך לחפש את כל המילים הנכתבות, לא משנה אם כולן נמצאות באותו המאמר - תשתמש בשיטת or.
                </li>
                <li>
                    אם ברצונך למצוא מאמרים המכילים את רוב המילים שנכתבו, תשמש בשיטת and. בשיטה זו, מובאים מאמרים המכילים 60% ומעלה מהמילים שנכתבו בחיפוש.
                </li>
                <li>
                    בשיטת not, יובאו מאמרים שאינם מכילים אף אחת מהמילים הכתובות.
                </li>
                <li>
                    הכתיבה תתבצע בצורה רגילה של חיפוש, בתוספת בחירת השיטה. ברירת המחדל היא שיטת or.
                </li>
            </ul>
            </p>
        </article>
        <article>
            <h3>חיפוש מתקדם</h3>
            <p>
            <ul>
                <li>
                                   בחיפוש מתקדם, החיפוש יתבצע לפי תווים מוסקמים.
                </li>
                <li>
                 כאשר נרצה לבצע חיפוש של or, נשתמש בתווים || בין המילים. אפשר ללחוץ על הכפתור "or" כדי שיתווספו תווים אלו לסוף שדה החיפוש.
                </li>
                <li>
   כאשר נרצה לחפש לפי שיטת "and", נכתוב את התווים && בין המילים.
                </li>
            <li>
                במקרה של "not", נשים את התו ^ ואחריו סוגריים על המילה אותה נרצה לקבל בשלילה.
                לדוגמה: (hello)^
            </li>
            <li>
                אם ברצונך לחפש מספר מילים ולבנות ביטוי, עליך להשתמש בסוגריים. לדוגמה:
                shalom||(hello&&world)
            </li>
            <li>
            אפשר לכתוב מילה אחת מחוץ לסוגריים. מעבר לכך יש לכתוב את המילים בתוך סוגריים כאשר השיטה המחברת בין המילים צריכה להיות זהה.
            במקרה והוכנסו מספר שיטות בסוגריים, תלקח רק השיטה הראשונה שנרשמה.
            לדוגמה - hello&&you||good, המילים יחופשו לפי שיטת "and".
            </li>
            </ul>

            </p>
        </article>
        <article>
            <h3>מסך הניהול</h3>
            <p>במסך הניהול ניתן :</p>
            <ul>
                <li>לראות את כל המאמרים, כולל המוסתרים (בניגוד למאמרים בתפריט הראשי המציגים רק את המאמרים שאינם מוסתרים)</li>
                <li>הוספת מאמרים, עדכון המאמרים הקיימים, שינוי המאמר לנסתר או להציגו מחדש ומחיקת מאמרים מוסתרים.</li>
                <li>הצגת הpostingfile בסדר יורד של כמות המאמרים למילה.</li>
                <li>הוספת מילים לרשימת הStoplist</li>
                <li>הצגה ומחיקת מילים מרשימת הStoplist</li>
                <li>*שינוי הגדרות - הכתובת ממנה נשאב המידע וכמות הכתבות אותם יחפש האלגורתיתם</li>
            </ul>
        </article>
        <p>
            * תכונה שהוכנסה על מנת שיהיה פשוט יותר להוסיף מאמרים בעת ההצגה של הפרוייקט.
        </p>
    </div>
{% endblock %}
