{%extends 'search/base.html' %}
{%block title%}Help{%endblock%}

{% block body %}
    <button id="go-back" class="btn btn-warning go-back rtl">Back</button>
    <div class="help_wrapper">

        <h2>Help</h2>
        <article>
            <h3>חיפוש רגיל</h3>
            <p>
            <ul>
                <li>
                    בחיפוש זה ניתן לבצע חיפושים פשוטים, בהן כל המילים יחופשו באותה השיטה בהתאם לבחירת המשתמש.
כל שעל המשתמש לעשות הוא להכניס משפט רגיל בשורת החיפוש, לבחור את אחת השיטות וללחוץ על כפתור ה-“Submit”.
(דוג' לחיפוש: hello world)
                </li>
            <li>
                שיטות קיימות:
                <ul>
                    <li>Or – יביא כל מאמר המכיל את אחת המילים לפחות שנכתבו בשורת החיפוש</li>
                    <li>And- יביא כל מאמר המכיל את כל המילים שנכתבו.</li>
                    <li>Easy and – יביא כל מאמר המכיל לפחות 60% מהמילים שנכתבו.</li>
                    <li>Not – יביא כל מאמר שאינו מכיל אף מילה שנכתבה (not or).</li>
                </ul>
            </li>
            <li>
                ישנה אפשרות לחפש מושגים דומים באמצעות סימון  ה-Soundex
            </li>
            </ul>
            </p>
        </article>
        <article>
            <h3>חיפוש מתקדם</h3>
            <p>
            <ul>
                <li>
בחיפוש זה ניתן לבצע חיפושים מתקדמים עם אופרטורים.
הכפתורים הם על מנת להקל בהוספת האופרטורים לסוף שורת החיפוש. ניתן להשתמש בהם אך אין זה חובה.
הערה: בחיפוש זה, חייבים לשים אופרטורים בין המילים. רווח לא יחשב כתו מפריד.
                    (דוג' לחיפוש: hello||word)
                </li>
            <li>שיטות החיפוש
                <ul>
                    <li>שיטת or - תסומן על ידי התווים ||</li>
                    <li>שיטת and - תסומן על ידי התווים &&</li>
                    <li>שיטת easy-and- תסומן על ידי התו &</li>
                    <li>שיטת not - תסומן על ידי התווים ( )^, או [ ]^ כאשר הביטוי בתוך סוגריים. לדוגמה, (and)^</li>
                </ul>
            </li>
            <li>ניתן ללחוץ על כפתורי השיטות כדי להוסיף את התו המבוקש לסוף שורת החיפוש.</li>
            <li>
            במקרה והוכנסו מספר שיטות בסוגריים או ללא סוגריים, תלקח רק השיטה הראשונה שנרשמה.
            </li>
            <li>
ניתן לכתוב סוגריים בתוך סוגריים, אך רק זוג אחד בתוך זוג קיים. הסוגריים הראשונים יהיו מהסוג " (  )", בעוד שהסוגריים השניים ויהיו מהסוג "[  ]".

            </li>
            <li>
                ישנה אפשרות לחפש מושגים דומים באמצעות סימון  ה-Soundex
            </li>
            </ul>

            </p>
        </article>
    </div>
{% endblock %}
