{%extends 'search/base.html' %}
{%block title%}Stoplist Manager{%endblock%}
{% load staticfiles %}

{% block body %}
<button id="go-back" class="btn btn-warning">Back</button>
<h1>Add Word To Stoplist</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'manage/form-template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

{% endblock %}

