{%extends 'search/base.html' %}
{%block title%}Stoplist View{%endblock%}

{% block body %}
<button id="go-back" class="btn btn-warning">Back</button>
{% if all_words %}
<h3>Stoplist</h3>
    {% for word in all_words %}
    <div class="stoplist result">
        <h4><span>{{word.id}}</span>{{word.data }}</h4>
        <form action="" method="post">
            {% csrf_token %}
            <button name="id" class="btn btn-default" value="{{word.id}}" type="submit">remove</button>
        </form>
    </div>
    {% endfor %}
{% else %}
    <h3>{{error_msg}}</h3>
{% endif %}

{% endblock %}
