body{
   // background: yellow;
}

.highlight{
background-color:yellow;
}

mark{
    background: yellow;
    padding: 0;
}

.link{
    color: green;
}

.possibilities{
    width: 15%;
    float:right;
    transform: translate(0%, 50%);
}

.change_article{
    width: 80%;
    float:left;
}

.result.change{
    clear: both
}

.stoplist h4 span{
    color: green;
    margin: 5px;
}

.stoplist{
    clear: both;
    height: 50px;
}

.stoplist h4{
    float: left;
}

.stopform{
    float: right;
    line-height: 3;
}

.sum{
    font-size: 10px;
    font-weight: 700;
    color: grey;
}

.help_wrapper{
    width: 95%;
    direction: rtl;
    margin-bottom: 40px;
}

.button{
    margin-top: 10px;
}

.wrapper{
    width:  95%;
}

#inputText{

    float: left;
    width: 70%;
}

.searched{
    float: right;
    width: 25%;
    margin-top: 10px;
    border: 1px dotted #676;
    padding: 5px;
}



.searched h4{
    border-bottom: 1px #9F2 solid;
}


.rtl{
    direction: rtl;
}

.go-back.rtl{
    margin-top: 68px;
    position: absolute;
    margin-left: 30px;
}

button#back, button#go-back {
    float: right;
    margin-right: 53px;
    margin-top: -13px;
}

.stoplist.result h4 span{
    color: red;
    padding-right: 10px;
}

.stoplist.result h4{
    margin: 0;

}

.form{
    width:70%;
}
.result {
    width: 80%;
    margin: 10px;
    border-bottom: darkblue dashed 1px;
}

#background{
    background: url("../images/bg1.jpg") repeat-y;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    opacity: 0.3;
}

h1, h2, h3{
    border-bottom: 2px solid gainsboro;
    margin-top: 72px;
}

a{
    color: #5d5e60;
}

a:hover{
    color: black;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    font-weight: 700;

}

.result h4 {
    padding-top: 13px;
}

.advance{
    margin-top: 50px;
}