body{
   // background: yellow;
}

.highlight{
background-color:yellow;
}

mark{
    background: yellow;
    padding: 0;
}

.link{
    color: green;
}

.possibilities{
    width: 15%;
    float:right;
    transform: translate(0%, 50%);
}

.change_article{
    width: 80%;
    float:left;
}

.result.change{
    clear: both
}

.stoplist h4 span{
    color: green;
    margin: 5px;
}

.stoplist{
    clear: both;
    height: 50px;
}

.stoplist h4{
    float: left;
}

.stopform{
    float: right;
}

button#back, button#go-back {
    float: right;
    margin-right: 78px;
    margin-top: 11px;
}

.form{
    width:70%;
}
.result {
    width: 80%;
    margin: 10px;
    border-bottom: darkblue dashed 1px;
}

#background{
    background: url("../images/bg1.jpg");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    opacity: 0.3;
}

h1, h2, h3{
    border-bottom: 2px solid gainsboro;
    display: inline-block;
}

a{
    color: #5d5e60;
}

a:hover{
    color: black;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    font-weight: 700;

}

.result h4 {
    padding-top: 13px;
}

.advance{
    margin-top: 50px;
}